{% extends 'baseAdmin.html.twig' %}

{% block title %}Coupons{% endblock %}

{% block body %}
    <h1>Coupons</h1>

    <a class="btn btn-primary mb-5"  href="{{ path('coupon_new') }}">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Description</th>
                <th>Discount (This is not yet consider - We use flat rate of 15%)</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coupon in coupons %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ coupon.code }}</td>
                <td>{{ coupon.description }}</td>
                <td>{{ coupon.discount }}</td>
                <td>
                    <a href="{{ path('coupon_show', {'id': coupon.id}) }}">show</a>
                    <a href="{{ path('coupon_edit', {'id': coupon.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
